<%- include('./partials/header.ejs') %>

    <!-- // main content  -->


    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5">

                <h2 class="alert alert-success text-center">update student </h2>
                <form method="post" action="/index/update/<%= data._id%>">
                    <div class="mb-3">
                        <label for="name" class="from-label">Name</label><br>
                        <input type="text" class="from-control" id="name" name="name" style="width: 500px;"
                            value="<%= data.name %>" />
                    </div>
                    <div class="mb-3">
                        <label for="age" class="from-label">Age</label><br>
                        <input type="text" class="from-control" id="age" name="age" style="width: 500px;"
                            value="<%= data.age %>" />
                    </div>
                    <div class="mb-3">
                        <label for="fees" class="from-label">fees</label><br>
                        <input type="text" class="from-control" id="fees" name="fees" style="width: 500px;"
                            value="<%= data.fees     %>" />
                    </div>
                    <button type="submit" class="btn btn-warning">Update</button>
                    <button type="submit" class="btn btn-secondary">back to home </button>
                </form>
            </div>
        </div>
    </div>





    <%- include('./partials/footer') %>